.mainContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 100px;
	background-color: #f7f7f7;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.itemData {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.img {
	height: 150px;
	border: 1px solid gray;
	border-radius: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}
