.errorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}

.pageNotFound {
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.solution {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.homeBottom {
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 25px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 15px;
	padding: 10px;
}

.homeBottom:hover {
	background-color: lightblue;
}
